.Outer{
    width: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 100px;
}
input {
    width: 93%;
    padding: 8px;
    
  }
  
  #add {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
  }

  /* li{
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;  
  }

  li button{
    position: relative;
    
    } */

    .todo {
      width: 100%;
      float: right ;
      margin-top: 60px;
    }
    
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      list-style: none;
      padding: 10px 20px;
      color: #ffffff;
      text-transform: capitalize;
      font-weight: 600;
      border: 2px solid #025f70;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-top: 15px;
      background: #4EB9CD;
      transition: all 0.75s 
    };
    
    .buttons {
      width: 100px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      
    }
    
  